.App {
  text-align: center;
  margin-top: 5em;
}

.App-title {
  font-size: 2.5em;
  margin-bottom: 0.05em;
}
.game-subheading {
  margin-bottom: 2em;
  font-weight: 500;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div .game-board {
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
}

.board-row {
  margin-left: auto;
  padding: 2px;
  margin-right: auto;
}

body {
  margin-left: 0;
  margin-top: 15px;
  font-family: apple-system;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
}

button:focus {
  outline:0;
}

.square.opened#one {
  color: rgb(31, 101, 246);
}
.square.opened#two {
  color: rgb(0, 209, 178);
}
.square.opened#three {
  color: rgb(145, 102, 255);
}
.square.opened#four {
  color: rgb(255, 76, 108);
}
.square.opened#five {
  color: rgb(255, 143, 88);
}
.square.opened#six {
  color: rgb(234, 196, 53);
}
.square.opened#seven {
  color: rgb(95, 173, 86);
}
.square.opened#eight {
  color: rgb(31, 32, 65);
}

h1 {
  font-size: 3.5em;
  color: black;
  margin-bottom: 0.5em;
}

h3 { 
  padding-top: 0;
  margin-top: -0.25em;
  font-size: 2em;
}


.square {
  background: #ffffff;
  border: 1px solid rgb(170, 170, 170);
  float: left;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  height: 34px;
  margin-right: -0.125em;
  margin-top: -0.125em;
  padding: 0px;
  text-align: center;
  width: 34px;
}

.square.opened {
  background-color: rgb(241, 243, 245);
}

.square:hover {
  background-color: rgb(238, 240, 241);
}

.game {
  display: flex;
  flex-direction: column-reverse;
}

.game-info {
  margin-left: 30px;
}

.square.flag {
  background-image:url('flag-images/flag-small-transparent.png');
  background-repeat: no-repeat;
}

.helper-text {
  opacity: 0.5;
}